.gradle
.idea

build/
out/

*.iml

fission/fission/
fission/fission-workflow/

kubeless/kubeless/
kubeless/kubeless-ui/

fnproject/fn/
fnproject/fn-helm/

openfaas/faas/
openfaas/faas-netes/
openfaas/template/

nuclio/credentials.json
nuclio/nuctl
nuclio/nuclio/
nuclio/templates/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

template
build
