.gradle
.idea

build/
out/

*.iml

fission/fission/
fission/fission-workflow/
kubeless/kubeless/
fnproject/fn/
fnproject/fn-helm/
fnproject/hello/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
